@import "tailwindcss";

@layer base {
  body {
    background-color: #000000;
    color: #FFFFFF;
    /* Hemos eliminado overflow-x: hidden para que el sticky cobre vida */
  }
}

@layer utilities {
  /* Escrito de la forma clásica a prueba de fallos para ocultar el scrollbar */
  .hide-scrollbar {
    -ms-overflow-style: none;  /* IE y Edge */
    scrollbar-width: none;  /* Firefox */
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari y Opera */
  }
}